*{
    margin: 0px;
    padding: 0px;
}



.link2{
    background-color: rgba(456,098,186,0.2);
    filter:hue-rotate(300deg);
}

.link2 li{
    margin-left: 6px;
 
    cursor: pointer;
    /* padding: 6px 12px; */
    filter:hue-rotate(270deg);
}
.link2 a{
    position: relative;
text-decoration: none;
background-color: rgba(456,098,186,0.1);
display:inline-block;
line-height:30px;
width: 80px;
height: 30px;
text-align:center;
}
.link2 li:hover{
    background-color: rgba(456,098,186,0.4);
}
#logout:hover{
text-decoration: underline;
filter: hue-rotate(180deg);
}