*{
    margin: 0px;
    padding: 0px;
}
.container{
    position: relative;
    background-color: rgba(130, 212, 212,0.4);
}
.container::before{
    content: '';
    position: absolute;
    top: 20px;
    left: 10px;
    width: 200px;
    height: 200px;
    background-color:rgba(987,099,876,0.3);
    border-radius: 50%;
    z-index: -100;
}
body{
    background-color:rgb(173, 197, 221);
}
.pay div{
    margin-top: 3px;
}
input[type='submit']{
    width: 120px;

}
h5{
    font-size: 16px;
}
.heading{
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.9px;
}